---
import "../styles/global.css";
---

<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Convertidor de Archivos</title>
</head>

<body>

<header>
  <h1>Convertidor de Archivos</h1>
</header>

<main>
  <slot />
</main>

<footer>
  <p>Proyecto con Astro</p>
</footer>

</body>
</html>